# Ignore all __pycache__ folders everywhere
**/__pycache__/

# Ignore compiled Python files
# *.pyc

# Ignore the virtual environment
.venv/

# Ignore the virtual environment
.github/

# Ignore build artifacts
build/

# Ignore PyInstaller spec file
django_app.spec